<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		selected_categories
		selected_atom

	OPTIONAL context:
		selected_class
		messages

		content
		vote_categories

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

{% extends "web/home/home.html" %}

{% block content %}

	<h3>Videos</h3>
  {% load my_filters %}
  {% for c in videos %}
  	<div class="row-fluid submission">
  		<div class="span12">
  			<div class="page-header" style="padding-bottom:5px;">
  				<h2>
  					<a style="color:black;" href="{% url 'post' c.id %}">{{ c }}</a>
  					{% if c.owner.is_staff %}
  						<small>by KnoAtom Staff</small>
  					{% else %}
  						<small>by {{ c.owner }}</small>
  					{% endif %}
  				</h2>
  				{% if user.is_staff or user.is_superuser or c.owner == user %}
  					<div class="edit">
  						<p><a href="{% url 'submit' c.id %}">Edit</a></p>
              <p><a href="#deleteModal4{{ c.id }}" data-toggle="modal">Delete</a></p>
  					</div>
            {% include "web/home/shared/delete_modal.html" with type=4 name=c.title e=c %}
  				{% endif %}
  				{% if user.is_authenticated %}
  					{% for v in vote_categories %}
  						<span class="rating" data-vote-category="{{ v.id }}" data-submission="{{ c.id }}">
  							{{ v }}: 
  							{% if not c.user_rating|in_dict:v.id %}
  								<i class="icon-star-empty" data-vote="1"></i>
  								<i class="icon-star-empty" data-vote="2"></i>
  								<i class="icon-star-empty" data-vote="3"></i>
  								<i class="icon-star-empty" data-vote="4"></i>
  								<i class="icon-star-empty" data-vote="5"></i>
  							{% else %}
  								<i class="{% if c.user_rating|lookup:v.id >= 1 %}filled icon-star{% else %}icon-star-empty{% endif %}" data-vote="1"></i>
  								<i class="{% if c.user_rating|lookup:v.id >= 2 %}filled icon-star{% else %}icon-star-empty{% endif %}" data-vote="2"></i>
  								<i class="{% if c.user_rating|lookup:v.id >= 3 %}filled icon-star{% else %}icon-star-empty{% endif %}" data-vote="3"></i>
  								<i class="{% if c.user_rating|lookup:v.id >= 4 %}filled icon-star{% else %}icon-star-empty{% endif %}" data-vote="4"></i>
  								<i class="{% if c.user_rating|lookup:v.id >= 5 %}filled icon-star{% else %}icon-star-empty{% endif %}" data-vote="5"></i>
  							{% endif %}
  						</span>
  						{% if not forloop.last %} | {% endif %}
  					{% endfor %} 
  				{% endif %}
  			</div>
  			{% autoescape off %}
  				<p>{{ c.content }}</p>
  			{% endautoescape %}
  			{% if c.video %}
  				<h3>Videos</h3>
  				<div class="videos">
  					<p><button style="display: none;" data-hide_sid="{{ c.id }}" id="hide_video_{{ c.id }}" class="hide_video btn">Hide Video</button></p>
  					<p>
  						{% for v in c.video %}
  							<a href="#" data-sid="{{ c.id }}" data-vid="{{ v }}"><img style="margin-bottom: 5px;" class="view_video" src="https://img.youtube.com/vi/{{ v }}/default.jpg" width="120" alt="Video Thumbnail" /></a>
  						{% endfor %}
  					</p>
  				</div>
  			{% endif %}
  			<div class="well">
  				Tags: 
  				{% for t in c.tags.all %}
  					<a href="{% url 'base_atom' t.base_category.id t.id %}">{{ t }}</a> {% if not forloop.last %} | {% endif %}
  				{% endfor %}
  			</div> <!-- end .well -->
  		</div> <!-- end .span9 -->
  	</div> <!-- end .row .submission-->
  {% endfor %}
	

{% endblock %}