<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs

	OPTIONAL context:
		class_list

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

{% extends "web/home/home.html" %}

{% block content %}
<div id="table">
  <table class="tablesorter">
    <thead>
      <tr>
        <th>Title</th>
        <th>Instructor</th>
      </tr>
    </thead>
    <tbody>
      {% for class in class_list %}
      <!-- If the class is active or user is the author put on the list -->
        {% if class.status == "A" or class.author == user or user.is_superuser or user.is_staff %}
          <tr>
            <td><a href="{% url "classes" class.id %}">{{ class.name }}</a></td>
            <td>{{ class.author }}</td>
          </tr>
        {% else %}
        <!-- else if they are an allowed user make it show up -->
          {% for allowed in class.allowed_users.all %}
            {% if user == allowed %}
            <tr>
              <td><a href="{% url "classes" class.id %}">{{ class.name }}</a></td>
              <td>{{ class.author }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
  
  {% include "web/home/shared/tablesorter.html" %}

{% endblock %}