{% extends "web/home/home.html" %}

{% comment %}

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		top_ranked_videos
		selected_class
		selected_categories
		selected_atom
		messages
		form_action

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

{% endcomment %}

{% block content %}
	<h2>Create New Class</h2>
		<form class="form-horizontal" action="{{ form_action}}" method="POST">
			{% csrf_token %}
			{% include "web/form_template.html" %}
			
			<div class="form-actions">
				<input class="btn btn-primary" type="submit" value="Submit" />
				<input class="btn" type="reset" value="Clear" />
			</div>
		</form>
	</h2>
{% endblock %}