<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		selected_categories
		selected_atom

	OPTIONAL context:
		selected_class
		messages

		content
		vote_categories

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

{% extends "web/home/home.html" %}

{% block content %}

	<h3>Thanks for Bug Report submission ! </h3>
    <br></br>
    <table class="table">
    <tr>
        <td>From: </td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Subject: </td>
        <td>{{subject}} </td>
    </tr>
    <tr>
        <td>Content: </td>
        <td>{{content}} </td>
    </tr>
    </table>
{% endblock %}