<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

{% extends "web/home/home.html" %}

{% block content %}
  <h2>Delete {{ name }}</h2>

  <form class="form-horizontal" action="{{ form_action }}" method="post">
    {% csrf_token %}

    <div>
      <input class="btn btn-primary" type="submit" name="yes" value="Yes" />
      <input class="btn" type="submit" name="no" value="No" />
    </div>
  
  </form>
{% endblock %}