{% extends "web/home/home.html" %}


{% comment %}
<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom
		form_action

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->
{% endcomment %}

{% block content %}
  <h2>Create New Example Submission</h2>

  <form enctype="multipart/form-data" class="form-horizontal" action="{{ form_action }}" method="post">
    {% csrf_token %}
    {% include "web/form_template.html" with form=form %}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submitMore" value="Submit and create a new exposition" />
        <input class="btn" type="submit" name="submitOne" value="Submit" />
        <input class="btn" type="reset" value="Clear" />
    </div>
  
  </form>
{% endblock %}