{% extends "base.html" %} <!-- Include the base template -->

{% block message %}
<!-- This is the block for messages -->
<div id="messages">
    {% include "web/message.html" %}
</div>
{% endblock %}

<!-- Default app specific content for the content page, will get overridden by other templates -->
{% block content %}
<h2>You are seeing this page in error, please contact the webmaster!</h2>
{% endblock %}

{# {% extends "web/web_base.html" %} #} {% comment %}<!-- Include the base template --> {% endcomment %}



{% comment %}

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs

	OPTIONAL context:
		top_ranked_videos
		selected_class
		selected_categories
		selected_atom
		messages

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

{% endcomment %}

{% block navbar_content %}
	{% comment %}<!-- This is the navbar content that is app specific -->{% endcomment %}
	{% include "web/navbar.html" %}
	{% comment %}<!-- "class_nav.html requires top_level_categories to be set" -->{% endcomment %}
{% endblock %}