<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

{% extends "web/home/home.html" %}

{% block content %}
<h2>Create New Lecture Note Submission</h2>

<form class="form-horizontal" action="{{ form_action }}" method="post">
  {% csrf_token %}
  {% include "web/form_template.html" with form=form %}
  
  <input class="btn btn-primary" type="submit" value="Submit"/>
  
</form>
{% endblock %}