{% extends "web/home/home.html" %}
{% comment %}<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

<!-- Submit form for videos -->
{% endcomment %}
{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    $('#id_content').addClass('span6').wysihtml5();

    $('#preview_video').click(function() {
        var video_id = $('#id_video').val();
        var video_preview_div = "";
		
        if ( /[A-Za-z0-9-_]{11}/.test(video_id) == true ) {
            video_preview_div = '<div id="video_preview_div_' + video_id + '">Loading...</div><hr />';
        } 
		else {
            video_preview_div = '<div><p>' + video_id + ' is an invalid YouTube video id. It should be 11 characters long, and located in the url for your video. e.g. http://www.youtube.com/watch?v=VIDEO_ID</p></div><hr />';
        }
		
        var params = { allowScriptAccess: "always" };
        var atts = { id: "modal_player", 'wmode': 'opaque' };
        $('body').append(
            '<div class="modal fade" id="preview_modal"><div class="modal-header">' +
            '<a class="close" data-dismiss="modal">x</a><h3>Video Preview</h3>' +
            '</div><div class="modal-body">' +
            video_preview_div +
            '</div></div>'
        );
        if ( /[A-Za-z0-9-_]{11}/.test(video_id) == true ) {
            swfobject.embedSWF("http://www.youtube.com/v/" + video_id + "?version=3&enablejsapi=1&playerapiid=player1", "video_preview_div_" + video_id, "480", "295", "9", null, null, params, atts);
        }
        $('#preview_modal').modal('show');
        $('#preview_modal').on('hidden', function () {
            $(this).remove();
        });
    });
});
</script>

<h2>Submit New Video</h2>

<form class="form-horizontal" action="{{ form_action }}" method="post">
{% csrf_token %}

{% include "web/form_template.html" with form=form %}

<div class="form-actions">
    <input class="btn btn-primary" type="submit" name="add-another" value="Submit and Add Another" />
    <input class="btn" type="submit" name="continue" value="Submit" />
    <a class="btn" id="preview_video">Preview Video</a>
	{% if object %}
		<a class="btn btn-danger" id="delete-modal" href="#deleteModal" data-toggle="modal">Delete</a>
	{% endif %}
</div>
</form>


  <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Deletion Confirmation</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ object }}?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="delete" object-id="{{ object.id }}" data-dismiss="modal" aria-hidden="true">Yes</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
      </div>
    </div>
<script>
// Set up the listener to listen for the delete button click
$(document).ready(function() {
	init_delete_content(); // Function is in knoatom.js
	$('button#delete').click(function() {
		$('a#delete-modal').attr('disabled', true)
		$.ajax({
			// See 'web.ajax.delete_content'
			url: '/ajax/delete/video/'+ $(this).attr('object-id')
		}).fail(function() {
			$('div#messages').empty().append("<div class='alert alert-error'>Failed to delete {{object}}.</div>");
		}).done(function() {
			window.location = '{{ success_url }}'
		}).always(function() {
			$('a#delete-modal').attr('disabled', false)
		})
	})
})
</script>
{% endblock %}

