<!--

To EXTEND/USE this file:

	REQUIRED context:
		breadcrumbs
		password_form
		username_form
		delete_account_form
		

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title
		

-->

{% extends "web/web_base.html" %}

{% block content %}

	<div class="page-header">
		<h1>Welcome, {{ user }}</h1>
	</div>

	<p>Use the forms below to change your account information as needed.</p>

	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#1" data-toggle="tab">Password</a></li>
			<li class=""><a href="#2" data-toggle="tab">Display Name</a></li>
			<li class=""><a href="#3" data-toggle="tab">Advanced</a></li>
            <li class=""><a href="#4" data-toggle="tab">Rating Detail</a></li>
		</ul> <!-- .nav nav-tabs -->
	
		<div class="tab-content">

			<div class="tab-pane active" id="1">
				<h3>Change Password</h3>
				<form class="form-horizontal" action="{% url "account" %}" method="post">
				{% csrf_token %}
				{% include "web/form_template.html" with form=password_form %}
				<div class="form-actions">
					<input class="btn btn-primary" type="submit" value="Submit" />
					<input class="btn" type="reset" value="Clear" />
				</div>
				</form>
			</div> <!-- #1 -->

			<div class="tab-pane" id="2">
				<h3>Change Display Name</h3>
				<form class="form-horizontal" action="{% url "account" %}" method="post">
				{% csrf_token %}
				{% include "web/form_template.html" with form=username_form %}
				<div class="form-actions">
					<input class="btn btn-primary" type="submit" value="Submit" />
					<input class="btn" type="reset" value="Clear" />
				</div>
				</form>
			</div> <!-- #2 -->

			<div class="tab-pane" id="3">
				<h3>Advanced</h3>
				<p>Here, you shall find advanced things to do for your account. Proceed with caution.</p>
				<h4>Delete Account</h4>
				<div class="well">
					<p>Take actions to delete your account: <a class="btn btn-danger" data-toggle="modal" href="#delete_account_modal">Delete Account</a></p>
				</div>

				<!-- modal for the form -->
				<div class="modal fade hide" id="delete_account_modal" style="height:initial;">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h3>Confirm Account Deletion</h3>
					</div>
					<div class="modal-body">
						<p>We don't want to see you go! But, if you insist, type in "KnoAtom" into the box below, and we'll delete your account.</p>
						<form class="form-horizontal" action="{% url "account" %}" method="post">
						{% csrf_token %}
						{% include "web/form_template.html" with form=delete_account_form %}
					</div> <!-- .modal-body -->
					<div class="modal-footer">
						<a href="#" class="btn" data-dismiss="modal">Cancel</a>
						<input class="btn btn-danger" type="submit" value="Delete Account" />
					</div> <!-- .modal-footer -->
					</form>
				</div> <!-- .modal -->
				<!-- !modal -->
			</div> <!-- #3 -->

            <div class="tab-pane active" id="4">
				<h3>Rating Detail</h3>
                <table class="table table-bordered table-hover" >
                    <thead>
                        <th style="text-align: center">Register</th>
                        <th style="text-align: center">Video</th>
                        <th style="text-align: center">Exposition</th>
                        <th style="text-align: center">Lec Note</th>
                        <th style="text-align: center">Example</th>
                        <th style="text-align: center">VoteUp</th>
                        <th style="text-align: center">VoteDown</th>
                        <th style="text-align: center">Sum</th>
                    </thead>
                    <tbody>

                        <tr>
                            <td style="text-align: center">
                                <div>
                                    200
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    N/A
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    {{ user_rate.ExpoRating }}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                {{ user_rate.LecNoteRating }}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    {{ user_rate.ExampleRating }}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    {{ user_rate.VoteUp }}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    {{ user_rate.VoteDown }}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div>
                                    {{ user_rate.rating }}
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> <!-- #4 -->
            
            
		</div> <!-- .tab-content -->
	</div> <!-- .tabbable .tabs-left -->

{% endblock %}
