<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		login_form

	OPTIONAL context:
		messages
		selected_class
		selected_categories
		selected_atom

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title
		

-->

{% extends "web/web_base.html" %}

{% block content %}
<h2>{% trans Login %}</h2>

<form class="form-horizontal" action="{% url 'login' %}" method="post">
{% csrf_token %}

{% include "web/form_template.html" with form=login_form %}
<input type="hidden" id="test" name="contentType" value="login_form"/>
    
<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
<a class="btn" href="{% url 'forgot_password' %}">{% trans Forgot Password? %}</a>
</div>
</form>

{% endblock %}
