{% extends "assignment_nav.html" %}
{% block content %}
{% load my_filters %}
<!-- JQUERY UI -->
<link rel="stylesheet" href="{{ STATIC_PREFIX }}jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">

<body>  
<table class="table">  
        <thead>  
          <tr>  
            <th>Title</th>  
            <th>First Name</th>  
            <th>Last Name</th>  
            <th>Grade</th>  
          </tr>  
        </thead>  
        <tbody>  
            
        </tbody>  
      </table>  
</body>  




{% endblock %}