
{% extends "assignment_nav.html" %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}tinymce/js/tinymce/tinymce.min.js"></script>

<script src="{{ STATIC_PREFIX }}codemirror/lib/codemirror.js"></script>
<script src="{{ STATIC_PREFIX }}codemirror/mode/python/python.js"></script>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}codemirror//lib/codemirror.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}codemirror//lib/themes.css">


<script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>
<link rel="stylesheet" type="test/css" href="{{ STATIC_PREFIX }}css/test.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}font-awesome/css/font-awesome.min.css">

<!-- JQUERY UI -->
<link rel="stylesheet" href="{{ STATIC_PREFIX }}jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">

<body>
{% csrf_token %}
	<div class="row-fluid">
			Title<br/>
			<input type="text" id="title"></input>
	</div>
	<div class="row-fluid">
		<div id="solutiondiv" class="span8">
			CODE:<br/>
			<textarea name="solution" id="solution"></textarea>
		</div>
		<div class="span4">
			SOLUTIONS:<br/>
			<div id="solnDiv" class="solnDiv">
			</div>
			<a class="btn btn-large btn-inverse" href="#" onclick="add_choice()">
			<i class="icon-plus"></i>  Add Answer</a>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div id="textdiv" class="span9">
			TEXT:<br/>
			<textarea name="text" id="text"></textarea>
		</div>
	</div>
	<hr>


	<div id="previewform"></div>
	<button onclick="preview()" class="btn">Preview</button>

	<form action="/assignment/question/create" method="post" id="questionForm">
	{% csrf_token %}
		<input type="text" style="display:none" id="questionname" name="questionname"></input>
		<input type="text" style="display:none" id="data" name="questiondata"></input>
		<button type="button" onclick="save()">submit</button>
	</form>

</body>
</html>


<script type="text/javascript" src="{{ STATIC_PREFIX }}js/test.js"></script>



{% endblock %}