{% extends "base.html" %}
{% block content%}
<script>
function validate(){
	x= document.forms["input"]["choice"];
	if(checkCheck(x) == false){
		alert("You need to provide an answer!");
		return false;
	}
	return true;
}

function checkCheck(toCheck){
	if(toCheck.type == "checkbox" || toCheck.type == "radio"){
		if(toCheck.length){
			for(i=0; i<toCheck.length; i++){
				if(toCheck [i].checked) return true;
			}
			return false;
		}
		else return toCheck.checked;
	}
	else return toCheck.value!=null && toCheck.value!='';
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

<script type="text/javascript" src="{{STATIC_PREFIX}}mathjax/MathJax.js"></script>

<div class="row">
	<h1><div class="span3 offset3">{{question_selected.title}}</div></h2>
</div>
<html>
<body>
{{text | safe}}
<br>
<br>

{% if question_selected.can_edit %}
	<form name="input" action="{% url "eval"%}"  method = "post">
	{% csrf_token %}
	{% if choices %}
		<strong>Choices:</strong>
		<br>
		<label class="radio">
		{% for c in choices %}
			<input type="radio" name="choice" value={{c}}>{{c}}<br>
		{% endfor %}
		</label>
	{% else %}
		<strong>Answer:</strong>
		<br>
		<input type="text" name="choice" placeholder="Type something">
		<br>
	{% endif %}
	<input type="hidden" name="question" value={{question_selected.id}}>
	<button type="submit" class="btn">Submit</button>
{% else %}
	<p>You already answered this question!></p>
{% endif %}
</form>
</body>
</html>
{% endblock %}

