{% extends "assignment_nav.html" %}
{% block content%}


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript">
	function reroute(){
		document.inputForm.action='{% url "save" %}';
		return true;
	}
</script>

<div class="row">
	<h1><div class="span3 offset3">{{question_selected.title}}</div></h2>
</div>
<html>
<body>
{{text | safe}}
<br>
<br>
<form name="inputForm" action="{% url "eval"%}"  method = "post">
{% csrf_token %}
{% if choices %}
	<strong>Choices:</strong>
	<br>
	<label class="radio">
	{% for c in choices %}
		<input type="radio" name="{{q.id}}choice" value={{c}} {% ifequal q.student_answer c.solution %}checked{%endifequal%} {%ifequal q.can_edit 0%}disabled{%endifequal%}>{{c}}
		</input>
		<br>
	{% endfor %}
	</label>
{% else %}
	<strong>Answer:</strong>
	<br>
	<input type="text" name="{{q.id}}choice" value={{q.student_answer}} {%ifequal q.can_edit 0%}disabled{%endifequal%}>
	{% ifequal q.can_edit 0 %}
		<div>{{q.solution}}</div>
	{% endifequal %}
	<br>
{% endif %}
<input type="hidden" name="assignment" value={{assignment_selected.id}}></input>
<button type="submit" onclick="return reroute();" class="btn" {%ifequal q.can_edit 0%}disabled{%endifequal%}>Save</button>
<button type="submit" class="btn" {%ifequal q.can_edit 0%}disabled{%endifequal%}>Submit</button>
</form>
</body>
</html>
{% endblock %}


