{% comment %}
<!--

To INCLUDE this file:

REQUIRED context:
	atoms

OPTIONAL context:
	class_object

-->
{% endcomment %}

{% if not category_object.child_categories and category_object.child_atoms %}
No Atoms or subcategories exist for this category yet!
{% endif %}
<div class="row-fluid" id="atom-list"> {# Populated with javascript #}
	<div class="span4" id="col1">
		<ul></ul>
	</div>
	<div class="span4" id="col2">
		<ul></ul>
	</div>
	<div class="span4" id="col3">
		<ul></ul>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	{% cycle 'col1' 'col2' 'col3' as column silent %}//{# Set up the cycling for multiple columns #}
	{% with length=atoms|length %} //{# Store the number of atoms #}
	{% for atom in atoms %} //{# Loop through the atoms #}
		{% if class_object %} //{# Save the correct link #}
			var link = "<a href='{% url 'atom' class_object.id category_object.id atom.id %}'>{{ atom }}</a>";
		{% else %}
			var link = "<a href='{% url 'base_atom' category_object.id atom.id %}'>{{ atom }}</a>";
		{% endif %}
		$('#atom-list #{{column}} ul').append( //{# Append link to the list in the correct column #}
			$('<li>').append(link)
		);
		{% if length >= 12 %} //{# If there are 12 or more atoms we want to split it into 3 lists #}
			{% cycle column %}
		{% endif %}
	{% endfor %}
})
</script>

{% endwith %}