<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	examples

-->

<!-- Should make this prettier -->

<div id="result">
</div>
<table class="table table-bordered table-hover">
  <thead>
    <th> </th>
    <th>Name</th>
    <th>Created By</th>
    <th>Votes</th>
    <th>Options</th>
  </thead>
  <tbody>
    {% for e in examples %}
      
      
      <tr>
        <td style="width:10px">
            <div class="arrow-up" item-type="3" vote-example-id="{{e.id}}" vote-type="1">
            <i class="icon-arrow-up"></i>
          </div>
          <div class="arrow-down" item-type="3" vote-example-id="{{e.id}}" vote-type="0">
            <i class="icon-arrow-down"></i>
          </div>
        </td>
        <td>
          
        	<a target="_blank" href="{{ e.file.url }}">
            {{ e.filename }}
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td style="width:25px">
            <div class="votes-sum-{{e.id}}">
            {{e.votes}}
            </div>
        </td>
        <td>
        {% if user.is_staff or user.is_superuser or e.owner == user %}
          <a href="{% url "example_submit" e.id %}">
            <i class="icon-edit"></i>
          </a>
          <a href="{% url "delete_example" e.id %}">
            <i class="icon-remove"></i>
          </a>
        {% else %}
          None
        {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>