<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	examples
  	class_object

-->

<!-- Should make this prettier -->
{% load vote_filters %}

<table id="examples" class="tablesorter">
	<thead>
		<th data-sorter="false"> </th>
		<th>Name</th>
		<th>Created By</th>
		<th>Votes</th>
		<th data-sorter="false">Options</th>
		<th style="display:none;">Is Stickied</th>
	</thead>
	<tbody>
		{% for example in examples %}
			<tr id="row-example-{{ example.id }}">
    				<td>
              {% if atom_object %}
    					  {% include "rating/vote_arrows.html" with item='example' id=example.id atom_id=atom_object.id %}
              {% endif %}
    				</td>
				<td>

					<a target="_blank" href="{{ example.file.url }}">
						<div class="name-example-{{ example.id }}">
							{{ example }}
							{% if class_object in example.classes_stickied_in.all %}
								 [stickied]
							{% endif %}
						</div>
					</a>
				</td>
				<td>
					{{ example.owner }}
				</td>
				<td>
					<div id="votes-sum-example-{{ example.id }}">
  					{% if atom_object %}
              {{ example.vote_set|total:atom_object }}
            {% else %}
              {{ example.vote_set|total }}
            {% endif %}
						
					</div>
				</td>
				<td>
					<!-- Button to trigger modal -->
					<a rel="tooltip" class="icon-flag" href="#myModalExample{{ example.id}}" data-toggle="modal" title="Report"></a>
					{% include "web/home/shared/sticky.html" with object=example type='example' %}
					{% if user.is_superuser or example.owner == user %}
						<a rel="tooltip" class="icon-edit" href="{% url "example_submit" example.id %}?next={{request.path}}" title="Edit"></a>
						<a rel="tooltip" class="icon-remove" href="#deleteModal-example-{{ example.id }}" data-toggle="modal" title="Delete"></a>
						{# We only need to include this modal if the user is allowed to delete #}
						{% include "web/home/shared/delete_modal.html" with object=example type='example' %}
					{% endif %}
				</td>
				<td style="display:none;">
					<div class="stickied-example-{{ example.id }}">
						{% if class_object in example.classes_stickied_in.all %}
							1
						{% else %}
							0
						{% endif %}
					</div>
				</td>
			</tr>
			<!-- Modal -->
			{% include "web/home/shared/report_modal.html" with object=example type="Example" %}
			<!--End of Modal-->
		{% endfor %}
	</tbody>
</table>

<script>{% include 'js/tablesorter.settings.js' with table='#examples' sortForce='[[5,1]]' sortAppend='[[3,1]]' sortList='[[5,1],[3,1]]' %}</script>