<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	examples
  selected_class

-->

<!-- Should make this prettier -->


<table id="examples" class="tablesorter">
  <thead>
    <th data-sorter="false"> </th>
    <th>Name</th>
    <th>Created By</th>
    <th>Votes</th>
    <th data-sorter="false">Options</th>
    <th style="display:none;">Is Stickied</th>
  </thead>
  <tbody>
    {% for e in stickied_examples %}
      
      
      <tr id="row-3-{{ e.id }}">
        <td style="width:10px">
          <div>
            <a rel="tooltip" href="javascript:void(0);" class="arrow-up icon-arrow-up" item-type="3" vote-example-id="{{e.id}}" vote-type="1" title="Vote Up"></a>
          </div>
          <div>
            <a rel="tooltip" href="javascript:void(0);" class="arrow-down icon-arrow-down" item-type="3" vote-example-id="{{e.id}}" vote-type="0" title="Vote Down" data-placement="bottom"></a>
          </div>
            
        </td>
        <td>
          
        	<a target="_blank" href="{{ e.file.url }}">
            <div class="name-3-{{ e.id }}">
              {{ e.filename }} [stickied]
            </div>
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td style="width:75px">
            <div class="votes-sum-3-{{e.id}}">
            {{e.votes}}
            </div>
        </td>
        <td>
        <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalExample{{e.id}}" data-toggle="modal" title="Report"></a>
          {% include "web/home/shared/sticky.html" with type=3 %}
        {% if user.is_superuser or e.owner == user %}
          <a rel="tooltip" class="icon-edit" href="{% url "example_submit" e.id %}?next={{request.path}}" title="Edit"></a>
          <a rel="tooltip" class="icon-remove" href="#deleteModal3{{ e.id }}" data-toggle="modal" title="Delete"></a>
          {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
          {% include "web/home/shared/delete_modal.html" with type=3 name=e.filename %}
        {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-3-{{ e.id }}">1</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Example" %}
      <!--End of Modal-->
    {% endfor %}
    
    <!-- Unstickied -->
    {% for e in examples %}
      
      
      <tr id="row-3-{{ e.id }}">
        <td style="width:10px">
          <div>
            <a rel="tooltip" href="javascript:void(0);" class="arrow-up icon-arrow-up" item-type="3" vote-example-id="{{e.id}}" vote-type="1" title="Vote Up"></a>
          </div>
          <div>
            <a rel="tooltip" href="javascript:void(0);" class="arrow-down icon-arrow-down" item-type="3" vote-example-id="{{e.id}}" vote-type="0" title="Vote Down" data-placement="bottom"></a>
          </div>
            
        </td>
        <td>
          
        	<a target="_blank" href="{{ e.file.url }}">
            <div class="name-3-{{ e.id }}">
              {{ e.filename }}
            </div>
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td style="width:75px">
            <div class="votes-sum-3-{{e.id}}">
            {{e.votes}}
            </div>
        </td>
        <td>
        <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalExample{{e.id}}" data-toggle="modal" title="Report"></a>
          {% include "web/home/shared/sticky.html" with type=3 %}
        {% if user.is_superuser or e.owner == user %}
          <a rel="tooltip" class="icon-edit" href="{% url "example_submit" e.id %}?next={{request.path}}" title="Edit"></a>
          <a rel="tooltip" class="icon-remove" href="#deleteModal3{{ e.id }}" data-toggle="modal" title="Delete"></a>
          {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
          {% include "web/home/shared/delete_modal.html" with type=3 name=e.filename %}
        {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-3-{{ e.id }}">0</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Example" %}
      <!--End of Modal-->
    {% endfor %}
  </tbody>
</table>

<script>
// tablesorter 2.10.8
// Documentation found here:
// http://mottie.github.io/tablesorter/docs/index.html

// Bootstrap specific example here:
// http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html
$(function() {

  $.extend($.tablesorter.themes.bootstrap, {
    // these classes are added to the table. To see other table classes available,
    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
    table      : 'table table-bordered',
    header     : 'bootstrap-header', // give the header a gradient background
    footerRow  : '',
    footerCells: '',
    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    sortNone   : 'bootstrap-icon-unsorted',
    sortAsc    : 'icon-chevron-up',
    sortDesc   : 'icon-chevron-down',
    active     : '', // applied when column is sorted
    hover      : '', // use custom css here - bootstrap class may not override it
    filterRow  : '', // filter row class
    even       : '', // odd row zebra striping
    odd        : ''  // even row zebra striping
  });

  // call the tablesorter plugin and apply the uitheme widget
  $("#examples").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
    
    // Set to always prepend a sort by stickied/not stickied in descending order on all user sorting
    sortForce : [[5,1]],
    
    // Set to sort initially by stickied then votes in descending order and name in ascending order
    sortList : [[5,1],[3,1]],
    
    // Set to always append a sort by votes in descending order on all user sorting
    sortAppend : [[3,1]],
    
    

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : ["uitheme"] //,, "filter", "zebra" ],

   
  })

});
</script>
