<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	expositions

-->

<!-- Should make this prettier -->
<div id="report"> </div>
<table id="expos" class="tablesorter">
    <thead>
        <th data-sorter="false"> </th>
        <th>Name</th>
        <th>Created By</th>
        <th>Votes</th>
        <th data-sorter="false">Options</th>
        <th style="display:none;">Is Stickied</th>
    </thead>
  <tbody>
    {% for e in stickied_expositions %}
      <tr id="row-1-{{ e.id }}">
          <td style="width:10px">
            {% include "rating/vote_arrows.html" with item=1 id=e.id %}
          </td>

        <td>
        	<a class="expo_link" data-toggle="modal" href="expo_modal" data-href="{{ e.link }}">
            <div class="name-1-{{ e.id }}">
              {{ e.title }} [stickied]
            </div>
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
          <td style="width:75px">
              <div class="votes-sum-1-{{e.id}}">
                  {{e.votes}}
              </div>
          </td>
        <td>
        <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalExpo{{e.id}}" data-toggle="modal" title="Report"></a>
          {% include "web/home/shared/sticky.html" with type=1 %}
          {% if user.is_superuser or e.owner == user %}
            <a rel="tooltip" class="icon-edit" href="{% url "expo_submit" e.id %}?next={{request.path}}" title="Edit"></a>
            <a rel="tooltip" class="icon-remove" href="#deleteModal1{{ e.id }}" data-toggle="modal" title="Delete"></a>
            {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
            {% include "web/home/shared/delete_modal.html" with type=1 name=e.title %}
          {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-1-{{ e.id }}">1</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Expo" %}
    {% endfor %}
    
    
    {% for e in expositions %}
      <tr id="row-1-{{ e.id }}">
          <td style="width:10px">
            {% include "rating/vote_arrows.html" with item=1 id=e.id %}
          </td>

        <td>
        	<a class="expo_link" data-toggle="modal" href="expo_modal" data-href="{{ e.link }}">
            <div class="name-1-{{ e.id }}">
              {{ e.title }}
            </div>
            
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
          <td style="width:75px">
              <div class="votes-sum-1-{{e.id}}">
                  {{e.votes}}
              </div>
          </td>
          <td>
          <!-- Button to trigger modal -->
            <a rel="tooltip" class="icon-flag" href="#myModalExpo{{e.id}}" data-toggle="modal" title="Report"></a>
            {% include "web/home/shared/sticky.html" with type=1 %}
            {% if user.is_superuser or e.owner == user %}
              <a rel="tooltip" class="icon-edit" href="{% url "expo_submit" e.id %}?next={{request.path}}" title="Edit"></a>
              <a rel="tooltip" class="icon-remove" href="#deleteModal1{{ e.id }}" data-toggle="modal" title="Delete"></a>
              {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
              {% include "web/home/shared/delete_modal.html" with type=1 name=e.title %}
            {% endif %}
          </td>
        <td style="display:none;"><div class="stickied-1-{{ e.id }}">0</div></td>
      </tr>
      <!-- Modal -->
     {% include "web/home/shared/report_modal.html" with type="Expo" %}
    {% endfor %}
  </tbody>
</table>


<script>
// tablesorter 2.10.8
// Documentation found here:
// http://mottie.github.io/tablesorter/docs/index.html

// Bootstrap specific example here:
// http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html
$(function() {

  $.extend($.tablesorter.themes.bootstrap, {
    // these classes are added to the table. To see other table classes available,
    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
    table      : 'table table-bordered',
    header     : 'bootstrap-header', // give the header a gradient background
    footerRow  : '',
    footerCells: '',
    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    sortNone   : 'bootstrap-icon-unsorted',
    sortAsc    : 'icon-chevron-up',
    sortDesc   : 'icon-chevron-down',
    active     : '', // applied when column is sorted
    hover      : '', // use custom css here - bootstrap class may not override it
    filterRow  : '', // filter row class
    even       : '', // odd row zebra striping
    odd        : ''  // even row zebra striping
  });

  // call the tablesorter plugin and apply the uitheme widget
  $("#expos").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
    
    // Set to always prepend a sort by stickied/not stickied in descending order on all user sorting
    sortForce : [[5,1]],
    
    // Set to sort initially by stickied then votes in descending order and name in ascending order
    sortList : [[5,1],[3,1]],
    
    // Set to always append a sort by votes in descending order on all user sorting
    
    sortAppend : [[3,1]],
    
    

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : ["uitheme"] //,, "filter", "zebra" ],

   
  })

});
</script>



<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/knoatom.css" />
<script type="text/javascript">
    $('textarea').addClass('span6').wysihtml5();
    $('.expo_link').each(function() {
        $(this).click(function() {
            $($('#expo_modal').children()[1]).html('<iframe style="width:1024px;height:400px" src="'+$(this).attr('data-href')+'">Loading...</iframe>');
            $('#expo_modal').modal('toggle').css({
                width:'auto',
                'margin-left':function(){
                    return -($(this).width()/2);
                }
            });
        })
    });
    
</script>


