<!--

To INCLUDE this file:

	REQUIRED context:
		None

	OPTIONAL context:
		top_ranked_videos

-->

<!-- 
This file contains things that are in both "base/home.html "and class/home.html".  Right now it doesn't serve much purpose to have those files seperate, but might prove useful in the future.
-->

<!-- Default app specific content for the content page, will get overridden by other templates -->


{% load staticfiles %}
{% if top_ranked_videos %}
	{% include "web/home/shared/top_ratings.html" %}
{% else %}
<p>This is the home page of the site!</p>
<!--
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators" style="list-style-type: none;" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
<!--
    <div class="carousel-inner">
        <div class="active item"><img src="{% static "/pic/pic_1.jpg" %}" class="img-rounded" style="height:400px;width:1000px;"></div>
        <div class="item"><img src="{% static "/pic/pic_2.jpg" %}" class="img-rounded" style="height:400px;width:1000px;"></div>
        <div class="item"><img src="{% static "/pic/pic_3.jpg" %}" class="img-rounded" style="height:400px;width:1000px;"></div>
    </div>
    <!-- Carousel nav -->
<!--
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
-->

{% endif %}