<!--

To INCLUDE this file:

	REQUIRED context:
		None

	OPTIONAL context:
		top_ranked_videos

-->

<!-- 
This file contains things that are in both "base/home.html "and class/home.html".  Right now it doesn't serve much purpose to have those files seperate, but might prove useful in the future.
-->

<!-- Default app specific content for the content page, will get overridden by other templates -->


{% load staticfiles %}
{% if top_ranked_videos %}
	{% include "web/home/shared/top_ratings.html" %}
{% else %}
<p>Welcome to cportals!  To get started click on one of the categories to the left.  If you want to work on an assignment you must register/log in and then click on the assignment link that will show up.</p>
{% endif %}
