<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	notes

-->

<!-- Should make this prettier -->
<table id="notes" class="tablesorter">
  <thead>
    <tr>
      <th data-sorter="false"> </th>
      <th>Name</th>
      <th>Created By</th>
      <th>Votes</th>
      <th data-sorter="false">Options</th>
      <th style="display:none;">Is Stickied</th>
    </tr>
  </thead>
  <tbody>
    {% for e in stickied_notes %}
      <tr id="row-2-{{ e.id }}">
          <td>
            {% include "rating/vote_arrows.html" with item=2 id=e.id %}
          </td>
        <td>
        	<a target="_blank" href="{{ e.file.url }}">
            <div class="name-2-{{ e.id }}">
              {{ e.filename }} [stickied]
            </div>
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td>
            <div class="votes-sum-2-{{e.id}}">
                {{e.votes}}
            </div>
        </td>
        <td>
            <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalNote{{e.id}}" data-toggle="modal" title="Report"></a>
          {% include "web/home/shared/sticky.html" with type=2 %}
          {% if user.is_superuser or e.owner == user %}
            <a rel="tooltip" class="icon-edit" href="{% url "note_submit" e.id %}?next={{request.path}}" title="Edit"></a>
            <a rel="tooltip" class="icon-remove" href="#deleteModal2{{ e.id }}" data-toggle="modal" title="Delete"></a>
            {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
            {% include "web/home/shared/delete_modal.html" with type=2 name=e.filename %}
          {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-2-{{ e.id }}">1</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Note" %}
      <!--End of Modal-->
    {% endfor %}
    
    {% for e in notes %}
      <tr id="row-2-{{ e.id }}">
          <td>
            {% include "rating/vote_arrows.html" with item=2 id=e.id %}
          </td>
        <td>
        	<a target="_blank" href="{{ e.file.url }}">
            <div class="name-2-{{ e.id }}">
              {{ e.filename }}
            </div>
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td>
            <div class="votes-sum-2-{{e.id}}">
                {{e.votes}}
            </div>
        </td>
        <td>
            <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalNote{{e.id}}" data-toggle="modal" title="Report"></a>
          {% include "web/home/shared/sticky.html" with type=2 %}
          {% if user.is_superuser or e.owner == user %}
            <a rel="tooltip" class="icon-edit" href="{% url "note_submit" e.id %}?next={{request.path}}" title="Edit"></a>
            <a rel="tooltip" class="icon-remove" href="#deleteModal2{{ e.id }}" data-toggle="modal" title="Delete"></a>
            {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
            {% include "web/home/shared/delete_modal.html" with type=2 name=e.filename %}
          {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-2-{{ e.id }}">0</div></td>
      </tr>
      <!-- Modal -->
     {% include "web/home/shared/report_modal.html" with type="Note" %}
      <!--End of Modal-->
    {% endfor %}
  </tbody>
</table>

<script>{% include 'js/tablesorter.settings.js' with table='#notes' sortForce='[[5,1]]' sortAppend='[[3,1]]' sortList='[[5,1],[3,1]]' %}</script>