<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	notes

-->

<!-- Should make this prettier -->

<table id="notes" class="table tablesorter table-bordered table-hover">
  <thead>
    <tr>
    <th>Name</th>
    <th>Created By</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
    {% for e in notes %}
      <tr>
        <td>
        	<a target="_blank" href="{{ e.file.url }}">
            {{ e.filename }}
          </a>
        </td>
        <td>
          {{ e.owner }}
        </td>
        <td>
        {% if user.is_staff or user.is_superuser or e.owner == user %}
          <a href="{% url "note_submit" e.id %}">
            <i class="icon-edit"></i>
          </a>
          <a href="{% url "delete_note" e.id %}">
            <i class="icon-remove"></i>
          </a>
        {% else %}
          None
        {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$(document).ready(function() 
    { 
        $("#notes").tablesorter({headers: { 2:{sorter: false}} }); 
    } 
); 
</script>