{% comment %}
<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	notes

-->
<!-- Should make this prettier -->
{% endcomment %}
<table id="notes" class="tablesorter">
	<thead>
		<tr>
			<th data-sorter="false"> </th>
			<th>Name</th>
			<th>Created By</th>
			<th>Votes</th>
			<th data-sorter="false">Options</th>
			<th style="display:none;">Is Stickied</th>
		</tr>
	</thead>
	<tbody>
		{% for note in notes %}
			<tr id="row-note-{{ note.id }}">
				<td>
					{% include "rating/vote_arrows.html" with item='note' id=note.id %}
				</td>
				<td>
					<a target="_blank" href="{{ note.file.url }}">
						<div class="name-note-{{ note.id }}">
							{{ note }} 
							{% if class_object in note.classes_stickied_in.all %} [stickied]{% endif %}
						</div>
					</a>
				</td>
				<td>
					{{ note.owner }}
				</td>
				<td>
					<div class="votes-sum-note-{{ note.id }}">
						{{ note.votes }}
					</div>
				</td>
				<td>
					<!-- Button to trigger modal -->
					<a rel="tooltip" class="icon-flag" href="#myModalNote{{ note.id }}" data-toggle="modal" title="Report"></a>
					{% include "web/home/shared/sticky.html" with object=note type='note' %}
					{% if user.is_superuser or note.owner == user %}
						<a rel="tooltip" class="icon-edit" href="{% url "note_submit" note.id %}?next={{request.path}}" title="Edit"></a>
						<a rel="tooltip" class="icon-remove" href="#deleteModal-note-{{ note.id }}" data-toggle="modal" title="Delete"></a>
						{# We only need to include this modal if the user is allowed to delete #}
						{% include "web/home/shared/delete_modal.html" with object=note type='note' %}
					{% endif %}
				</td>
				<td style="display:none;">
					<div class="stickied-note-{{ note.id }}"> {# If it is stickied give it a 1, else 0 #}
						{% if class_object in note.classes_stickied_in.all %}1{% else %}0{% endif %}
					</div>
				</td>
			</tr>
			<!-- Modal -->
			{% include "web/home/shared/report_modal.html" with object=note type="Note" %}
			<!--End of Modal-->
		{% endfor %}
	</tbody>
</table>

<script>{% include 'js/tablesorter.settings.js' with table='#notes' sortForce='[[5,1]]' sortAppend='[[3,1]]' sortList='[[5,1],[3,1]]' %}</script>