<!--

To INCLUDE this file:

REQUIRED context:
	top_ranked_videos

OPTIONAL context:
	None

-->
<!--
I list top_ranked_videos as required because without it this will display some nonsensical information and in that sense "fail," but it won't throw any errors.
 -->

<div class="page-header">
<h2>Top Rated Videos</h2>
</div>
{% load my_filters %}

<div class="tab-content">
    
    <div class="row-fluid" >
    {% for video in top_ranked_videos|slice:"0:3" %}
    
    <div class="span4">
    <div id="Video" style="">
        <a href="#" data-sid="{{ video.id }}" data-vid="{{ video.video }}"><img style="margin-bottom: 5px;display: block;
            margin: 0 auto;" class="view-video" src="https://img.youtube.com/vi/{{ video.video }}/default.jpg" width="220" alt="Video Thumbnail" /></a>
    </div>
    <div style="text-align:center;">
    <a class="view-video" data-sid="{{ video.id }}" data-vid="{{ video.video }}" id="{{ video.video }}" href="#" >{{ video }}</a> <small>({{ video.votes }})</small>
    </div>
    </div>
    {% endfor %}
        <div class="row-fluid" style="margin-top: 50px;">
            {% for video in top_ranked_videos|slice:"3:6" %}
            
            <div class="span4" style="margin-top: 20px;">
                <div id="Video" >
                    <a href="#" data-sid="{{ video.id }}" data-vid="{{ video.video }}"><img style="margin-bottom: 5px;display: block;
                        margin: 0 auto;" class="view-video" src="https://img.youtube.com/vi/{{ video.video }}/default.jpg" width="220" alt="Video Thumbnail" /></a>
                </div>
                <div style="text-align:center;">
                    <a class="view-video" data-sid="{{ video.id }}" data-vid="{{ video.video }}" id="{{ video.video }}" href="#">{{ video }}</a> <small>({{ video.votes }})</small>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
<script>
{% comment %}
/*
  * When the video image is clicked open up $('div#global_modal') defined in 
  * ``knoatom/base.html``.  It deletes the contents of the body, then embeds
  * the youtube player into the body, centers the modal, and shows it.  Then 
  * when it is hidden it deletes the contents of the body again.
*/
{% endcomment %}
$(document).ready(function() {
  $('.view-video').each(function() {
    $(this).click(function(e) {
      e.preventDefault();
      var sid = $(this).attr('data-sid');
      var vid = $(this).attr('data-vid');
      var params = { allowScriptAccess: 'always' };
      var atts = { id: "modal_player", 'wmode': 'opaque' };
      $('#video_player_' + sid).remove();
      video_preview_div = '<div id="video_preview_div_' + sid + '">Loading...</div><hr />';
      $('#global_modal .modal-body').empty().append(video_preview_div);
      swfobject.embedSWF("http://www.youtube.com/v/" + vid + 
        "?version=3&enablejsapi=1&playerapiid=player1", "video_preview_div_" + 
        sid, "560", "315", "9", null, null, params, atts
      );
      $('#global_modal').modal().css({
        'margin-top': function () {
          return -($(this).height() / 16);
        },
        width:'auto',
        'margin-left':function(){
            return -($(this).width()/2);
          }
      });
      $('#global_modal').modal('show');
      $('#global_modal').on('hidden', function () {
          $('#global_modal .modal-body').empty();
      });
    });
  })
});
</script>