<!--

To INCLUDE this file:

REQUIRED context:
	top_ranked_videos

OPTIONAL context:
	None

-->
<!--
I list top_ranked_videos as required because without it this will display some nonsensical information and in that sense "fail," but it won't throw any errors.
 -->

<div class="page-header">
<h2>Top Rated Videos</h2>
</div>
<p>Click on the categories below to view the top rated videos in each category</p>
{% load my_filters %}

<div class="tab-content">
{% for video in top_ranked_videos %}
<p><a href="{% url "post" video.id %}">{{ video }}</a> <small>({{ video.votes }})</small></p>
{% endfor %}
</div>
