<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	Content
	vote_categories

-->
{% load my_filters %}

<table id="videos" class="tablesorter">
  <thead>
    <th data-sorter="false"> </th>
    <th>Video</th>
    <th data-sorter="false">Description</th>
    <th>Created By</th>
    <th>Votes</th>
    <th data-sorter="false">Options</th>
    <th style="display:none;">Is Stickied</th>
  </thead>
  <tbody>
    {% for c in stickied_content %}
      
      
      <tr id="row-4-{{ c.id }}">
        <td style="vertical-align:middle">
          {% include "rating/vote_arrows.html" with item=4 id=c.id %}
        </td>
        
        <td style="text-align:center">
          
          <div id="title">
            <strong><a href="{% url 'post' c.id %}">
              <div class="name-4-{{ c.id }}">
                {{ c }} [stickied]
              </div>
            </a></strong>
          </div>
          {% for v in c.video %}
            <div id="Video">
              <img style="margin-bottom: 5px;" src="https://img.youtube.com/vi/{{ v }}/default.jpg" width="120" alt="Video Thumbnail" />
            </div>
          {% endfor %}
        	
        </td>
        <td>
          {% autoescape off %}
            <p>{{ c.content }}</p>
          {% endautoescape %}
        </td>
        <td>
          {{ c.owner }}
        </td>
        <!-- Votes -->
        <td style="width:75px">
            <div class="votes-sum-4-{{c.id}}">
            {{c.votes}}
            </div>
        </td>
        <!-- end Votes -->
        <td>
          <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalVideo{{c.id}}" data-toggle="modal" title="Report"></a>
      
          {% include "web/home/shared/sticky.html" with type=4 e=c %}
          {% if user.is_superuser or e.owner == user %}
            <a rel="tooltip" class="icon-edit" href="{% url "submit" c.id %}?next={{request.path}}" title="Edit"></a>
            <a rel="tooltip" class="icon-remove" href="#deleteModal4{{ c.id }}" data-toggle="modal" title="Delete"></a>
            {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
            {% include "web/home/shared/delete_modal.html" with type=4 name=c.title e=c %}
          {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-4-{{ c.id }}">1</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Video" e=c %}
      <!--End of Modal-->
    {% endfor %}
    
    {% for c in content %}
      
      
      <tr id="row-4-{{ c.id }}">
        <td style="vertical-align:middle">
          {% include "rating/vote_arrows.html" with item=4 id=c.id %}
        </td>
        
        <td style="text-align:center">
          
          <div id="title">
            <strong><a href="{% url 'post' c.id %}">
              <div class="name-4-{{ c.id }}">
                {{ c }}
              </div>
            </a></strong>
          </div>
          {% for v in c.video %}
            <div id="Video">
              <img style="margin-bottom: 5px;" src="https://img.youtube.com/vi/{{ v }}/default.jpg" width="120" alt="Video Thumbnail" />
            </div>
          {% endfor %}
        	
        </td>
        <td>
          {% autoescape off %}
            <p>{{ c.content }}</p>
          {% endautoescape %}
        </td>
        <td>
          {{ c.owner }}
        </td>
        <!-- Votes -->
        <td style="width:75px">
            <div class="votes-sum-4-{{c.id}}">
            {{c.votes}}
            </div>
        </td>
        <!-- end Votes -->
        <td>
            <!-- Button to trigger modal -->
          <a rel="tooltip" class="icon-flag" href="#myModalVideo{{c.id}}" data-toggle="modal" title="Report"></a>
        
          {% include "web/home/shared/sticky.html" with type=4 e=c %}
          {% if user.is_superuser or e.owner == user %}
            <a rel="tooltip" class="icon-edit" href="{% url "submit" c.id %}?next={{request.path}}" title="Edit"></a>
            <a rel="tooltip" class="icon-remove" href="#deleteModal4{{ c.id }}" data-toggle="modal" title="Delete"></a>
            {% comment %} We only need to include this modal if the user is allowed to delete {% endcomment %}
            {% include "web/home/shared/delete_modal.html" with type=4 name=c.title e=c %}
          {% endif %}
        </td>
        <td style="display:none;"><div class="stickied-4-{{ c.id }}">0</div></td>
      </tr>
      <!-- Modal -->
      {% include "web/home/shared/report_modal.html" with type="Video" e=c %}
      <!--End of Modal-->
    {% endfor %}
  </tbody>
</table>
<script>{% include 'js/tablesorter.settings.js' with table='#videos' sortForce='[[6,1]]' sortAppend='[[4,1]]' sortList='[[6,1],[1,1]]' %}</script>