<!--

To INCLUDE this file:

REQUIRED context:
	None

OPTIONAL context:
	Content
	vote_categories

-->
{% load my_filters %}

<table id="videos" class="tablesorter">
  <thead>
    <th data-sorter="false"> </th>
    <th>Video</th>
    <th data-sorter="false">Description</th>
    <th>Created By</th>
    <th>Votes</th>
    <th data-sorter="false">Options</th>
  </thead>
  <tbody>
    {% for c in content %}
      
      
      <tr>
        <td style="vertical-align:middle">
          <!-- Implement voting here -->
            <div class="arrow-up" item-type="4" vote-example-id="{{c.id}}" vote-type="1">
            <i class="icon-arrow-up"></i>
          </div>
          <div class="arrow-down" item-type="4" vote-example-id="{{c.id}}" vote-type="0">
            <i class="icon-arrow-down"></i>
          </div>
          <!-- End Implement Voting -->
        </td>
        
        <td style="text-align:center">
          
          <div id="title">
            <strong><a href="{% url 'post' c.id %}">{{ c }}</a></strong>
          </div>
          {% for v in c.video %}
            <div id="Video">
              <img style="margin-bottom: 5px;" src="https://img.youtube.com/vi/{{ v }}/default.jpg" width="120" alt="Video Thumbnail" />
            </div>
          {% endfor %}
        	
        </td>
        <td>
          {% autoescape off %}
            <p>{{ c.content }}</p>
          {% endautoescape %}
        </td>
        <td>
          {{ c.owner }}
        </td>
        <!-- Votes -->
        <td style="width:75px">
            <div class="votes-sum-4-{{c.id}}">
            {{c.votes}}
            </div>
        </td>
        <!-- end Votes -->
        <td>
            <!-- Button to trigger modal -->
            <a href="#myModal{{c.id}}" data-toggle="modal">
                <i class="icon-flag"></i>
            </a>

        {% if user.is_staff or user.is_superuser or e.owner == user %}
          <a href="{% url "submit" c.id %}">
            <i class="icon-edit"></i>
          </a>
          <a href="{% url "delete_video" c.id %}">
            <i class="icon-remove"></i>
          </a>
        {% else %}
          None
        {% endif %}
        </td>
      </tr>
      <!-- Modal -->
      <div id="myModal{{c.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form class="testForm" method="post" action="{{form_action}}">
              {% csrf_token %}
              <div class="form-actions">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel">Make a Report: </h3>
                  </div>
                  <div class="modal-body">
                      {% include "web/form_template.html" with form=form %}
                      <input type="hidden" id="test" name="contentType" value="{{c|to_class_name}}"/>
                      <input type="hidden" id="test2" name="contentId" value="{{c.id}}"/>
                  </div>
                  <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                      <button class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </form>
      </div>
      <!--End of Modal-->
    {% endfor %}
  </tbody>
</table>

<script>
// tablesorter 2.10.8
// Documentation found here:
// http://mottie.github.io/tablesorter/docs/index.html

// Bootstrap specific example here:
// http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html
$(function() {

  $.extend($.tablesorter.themes.bootstrap, {
    // these classes are added to the table. To see other table classes available,
    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
    table      : 'table table-bordered',
    header     : 'bootstrap-header', // give the header a gradient background
    footerRow  : '',
    footerCells: '',
    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    sortNone   : 'bootstrap-icon-unsorted',
    sortAsc    : 'icon-chevron-up',
    sortDesc   : 'icon-chevron-down',
    active     : '', // applied when column is sorted
    hover      : '', // use custom css here - bootstrap class may not override it
    filterRow  : '', // filter row class
    even       : '', // odd row zebra striping
    odd        : ''  // even row zebra striping
  });

  // call the tablesorter plugin and apply the uitheme widget
  $("#videos").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
    // Set to sort initially by votes in descending order and name in ascending order
    sortList : [[4,1]],
    
    // Set to always append a sort by votes in descending order on all user sorting
    
    sortAppend : [[4,1]],
    
    

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : ["uitheme"] //,, "filter", "zebra" ],

   
  })

});
</script>