{% comment %}<!-- 

To EXTEND/USE this file:

	REQUIRED context:
		breadcrumbs

	OPTIONAL context:
		None

BLOCKS:
  extra_style
  extra_head
  extra_script
  head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->
<!--

This is the base html file.  ALL of the style and theme stuff should go here.  Every other file should EXTEND this, but not neccessarily directly.

-->{% endcomment %}

<!doctype html>
<html lang="en">
<head>
{% block extra_style %}{% endblock %}
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title|default:"KnoAtom" }}</title>

{% block extra_head %}{% endblock %}

{% load staticfiles %}
{% block stylesheets %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-wysihtml5.css" %}" rel="stylesheet">
<link href="{% static "css/jquery.dataTables_themeroller.css" %}" rel="stylesheet">
<link href="{% static "css/jquery.dataTables.css" %}" rel="stylesheet">
<link href="{% static "css/theme.bootstrap.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{% static "js/jquery.formset.min.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.min.js" %}"></script>

<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables.htmlColumnFilter.js" %}"></script>

<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>

<script type="text/javascript" src="{% static "js/analytics.js" %}"></script>
<script type="text/javascript" src="{% static "js/swfobject.js" %}"></script>
<script type="text/javascript" src="{% static "js/wysihtml5-0.3.0_rc2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-wysihtml5.js" %}"></script>
<script type="text/javascript" src="{% static "js/knoatom.js" %}"></script>
<script type="text/javascript" src="{% static "js/voting.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "pybb/js/pybbjs.js" %}"></script>
{% endblock javascript %}
<!-- Tablesorting -->
<!-- bootstrap widget theme -->

{% block head %}
{% endblock %}

</head>
<body>
    {% block extra_script %}
    {% endblock %}

<div class="container">

	<div class="row-fluid">
		<div class="span12">
			{% comment %}<!-- I really need to change the way breadcrumbs work -->{% endcomment %}
		{% block breadcrumb %}
		<ul class="breadcrumb">
		    <li>
		    <a href="/">KnoAtom</a> |
		    </li>
		    {% for b in breadcrumbs %}
		        <li class="{% if forloop.last %}active{% endif %}">
		        <a href="{{ b.url }}">{{ b.title }}</a>
		        {% if not forloop.last %}<span class="divider">/</span>{% endif %}
		        </li>
		    {% endfor %}
		</ul>
		{% endblock %}
		</div> <!-- end .span12 -->
	</div> <!-- end .row -->

	<div class="row-fluid">
		<div class="span3">
			<div class="well">
					{% block sidebar %} {% comment %}<!-- I don't intend on ever replacing the whole thing, but its good to have the option just incase -->{% endcomment %}
						<ul class="nav nav-list" style="padding-left:0;padding-right:0;">
							<!-- Default Navigation -->
							<li class="nav-header">Navigation</li>
							<li><a href="{% url "home" %}">Home</a></li>
							<li><a href="{% url "class_index" %}">Class Index</a></li>
							<li><a href="{% url "pybb:index" %}">Forums</a><li>
							<li><a href="{% url "haystack_search" %}">Search</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'assignment' %}">Assignments</a></li>
							{% endif %}

							<li class="divider"></li>

							{% block navbar_content %}
								{% comment %}<!-- There should be a divider at the end of any content that goes here! -->{% endcomment %}
							{% endblock %}

							<li class="nav-header">Meta</li>
							{% if user.is_authenticated %}
								<li>
                                    <div>
                            			<a href="{% url 'account' %}">{{ user }}</a>
                                		<span id="cur-user-rate">
                                       	{% for i in user.rating_set.all %}
                                            {{ i.rating }}
                                        {% endfor %}
                                        </span>
                                    </div>
                                </li>
								<li><a href="{% url "create_class" %}">Create New Class</a></li>
	                            <li class="dropdown">
	                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                                    Submit New Content
	                                    <b class="caret"></b>
	                                </a>
	                                <ul class="dropdown-menu">
	                                    <li><a href="{% url "video_submit" %}">Video</a></li>
	                                    <li><a href="{% url "expo_submit" %}">Exposition</a></li>
	                                    <li><a href="{% url "note_submit" %}">Note</a></li>
	                                    <li><a href="{% url "example_submit" %}">Example</a></li>
	                                </ul>
	                            </li>
									<li><a href="{% url 'logout' %}">Logout</a></li>
	                <li><a href="#myModalBug" data-toggle="modal">Report a Bug</a></li>
                                
							{% else %}
								<li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="#myModalBug" data-toggle="modal">Report a Bug</a></li>
							{% endif %}
						</ul>
					{% endblock %} <!-- end .sidebar -->
			</div> <!-- end .well -->
		</div> <!-- end .span3 -->
		<div class="span9">
			{% block message %}
      <div id="messages"></div>
				<!-- This block is the messages that show up at the top of the screen -->
			{% endblock %}
			
			<!-- Default Title -->
			{% block page_title %}
			{% endblock %}
			
			{% block content %}
				<!-- This block is the main content of the page -->
			{% endblock %}
		</div> <!-- end .span9 -->
	</div> <!-- end .row -->

	<div class="row-fluid">
		<div class="span12">
			<div id="footer">
				{% block footer %}
					<p>Copyright &copy; 2012</p>
				{% endblock %}
			</div> <!-- end #footer -->
		</div> <!-- end .span12 -->
	</div> <!-- end .row -->
</div> <!-- end .container -->

<!-- Modal -->
{% include "bugReport_modal.html" %}
    
    
<div class="modal fade" id="global_modal" >
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a><h3>Video Viewer</h3>
	</div>
	<div class="modal-body">
		<!-- empty, for now -->
	</div>
</div> <!-- end #global_modal -->

<div class="modal fade" id="expo_modal" >
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a><h3>Exposition viewer</h3>
	</div>
	<div class="modal-body">
		<!-- empty, for now -->
	</div>
</div> <!-- end #expo_modal -->
</body>
</html>
