{% comment %}
<!--

To INCLUDE this file:

	REQUIRED context:
		class_object

	OPTIONAL context:
		None

-->
<!-- This should be included in the "title" block, but who am I to tell you what to do -->
{% endcomment %}

<div class="page-header">
	<span style="font-size: 200%;font-weight:bold;">KnoAtom - {{ class_object.name }}</span>
    {% if user == class_object.owner or user.is_superuser %}
    <span style="float:right"><a href="{% url 'edit_class'  class_object.id %}">[Edit Class...]</a></span>
    {% endif %}
</div>