{% extends "assignment_nav.html" %}
{% block content %}

<script type="text/x-mathjax-config">

	function validateAssign(){
		for(element in $('.assignment-input')){
			if element.prop("checked", true){
				return true;
			}
		}
		alert("Select an assignment");
		return false;
	}
</script>

{% if assignments %}
<form name="input" onsubmit="return validateAssign()" action="{% url 'instantiate'%}" method = "post">
	{% csrf_token %}
	<strong>Assignment:</strong><br> 
	{% for a in assignments %}
		<input type="radio" class="assignment-input" name="assignment" value={{a.pk}}>{{a.title}}<br>
	{%endfor%}
	<br><strong>Assigned to:</strong><br>
	<hr>
	Users:<br>
	{% for u in users %}
		<input type="checkbox" name="users" value={{u.id}}>{{u}} <br>
	{% endfor %}
	<hr>
	Classes:<br>
	{% for c in class_list %}
		<input type="checkbox" name="class" value={{c.id}}>{{c}}<br>
	{%endfor%}
	<button type="submit" class="btn">Submit</button>
<form>
{% else %}
	<p>No assignment templates exist! Go out and make some!</p>
{% endif %}
{% endblock %}

