{% extends "assignment_nav.html" %}
{% block content %}

<script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });

	function reroute(){
		document.inputForm.action='{% url "save" %}';
		return true;
	}
</script>
<script type="text/javascript" src="{{STATIC_PREFIX}}mathjax/MathJax.js"></script>

{% if assignments %}
<form name="input" onsubmit="return validateAssign()" action="{% url 'instantiate'%}" method = "post">
	{% csrf_token %}
	<strong>Assignment:</strong><br> 
	{% for a in assignments %}
		<input type="radio" name="assignment" value={{a.pk}}>{{a.title}}<br>
	{%endfor%}
	<br><strong>Assigned to:</strong><br>
	<hr>
	Users:<br>
	{% for u in users %}
		<input type="checkbox" name="users" value={{u.id}}>{{u}} <br>
	{% endfor %}
	<hr>
	Classes:<br>
	{% for c in class_list %}
		<input type="checkbox" name="class" value={{c.id}}>{{c}}<br>
	{%endfor%}
	<button type="submit" class="btn">Submit</button>
<form>
{% else %}
	<p>No assignment templates exist! Make these on the admin page.</p>
{% endif %}
{% endblock %}

