{% extends "assignment/index.html" %}
{% block content %}
<div class="row">
	<h1><div class="span4 offset3">{{ assignment_selected.title }}</div></h1>
</div>

{% if question_list %}
    <ul>
    {% for question in question_list %}
    <div class="row">
    <h4><div class="span6">{{question.title}}</div></h4>
	</div>
    <body>
		{{question.text | safe}}
		<br>
		<br>
		<form action=" ">
			{% if question.choiceInstances.all %}
				<strong>Choices:</strong>
				<br>
				{% for c in question.choiceInstances.all %}
					<input type="radio" name="choice" value={{c}}>{{c}}<br>
				{% endfor %}
			{% else %}
				<strong>Answer:</strong>
				<br>
				<input type="text">
			{% endif %}
		</form>
		</body>
		<br>
		<br>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions in this assignment.</p>
{% endif %}
{% endblock %}