{% extends "assignment_nav.html" %}
{% block content %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
  function reroute(){
		document.inputForm.action='{% url "save" %}';
		return true;
	}
</script>

<script type="text/javascript" src="{{STATIC_PREFIX}}mathjax/MathJax.js"></script>
<div class="row">
	<h1><div class="span4 offset3">{{ assignment_selected.title }}</div></h1>
</div>

{% if question_list %}
<form name="inputForm" action="{% url "eval" %}"  method = "post">
	{% csrf_token %}
    <ul>
    {% for q in question_list %}
    <div class="row">
    <h3><div class="span6">{{q.title}}</div></h3>
	 </div>
		<strong>{{q.text | safe}}</strong>
		{% if q.choiceInstances.all %}
			<strong>Choices:</strong>
			<br>
			{% for c in q.choiceInstances.all %}
				<input type="radio" name="{{q.id}}choice" value={{c}} {% ifequal q.student_answer c.solution %}checked{%endifequal%} {%ifequal q.can_edit 0%}disabled{%endifequal%}>{{c}}
				<br>
			{% endfor %}
		{% else %}
			<strong>Answer:</strong><br>
			<input type="text" name="{{q.id}}choice" value={{q.student_answer}} {%ifequal q.can_edit 0%}disabled{%endifequal%}>
		{% endif %}
		<br>
		<br>
    {% endfor %}
    </ul>
    <input type="hidden" name="assignment" value={{assignment_selected.id}} >
    <button type="submit" onclick="return reroute()" class="btn" {%ifequal assignment_selected.can_edit 0%}disabled{%endifequal%}>Save</button>
    <button type="submit" class="btn" {%ifequal assignment_selected.can_edit 0%}disabled{%endifequal%}>Submit</button>
</form>
{% else %}
    <p>No questions in this assignment.</p>
{% endif %}
{% endblock %}