<p>{{ assigned.title }}</p>
{% if question_list %}
    <ul>
    {% for question in question_list %}
    <body>
		{{question.text | safe}}
		<br>
		<br>
		<form action=" ">
			{% if question.choiceInstances.all %}
				choices:
				<br>
				{% for c in question.choiceInstances.all %}
					<input type="radio" name="choice" value={{c}}>{{c}}<br>
				{% endfor %}
			{% else %}
				answer:
				<br>
				<input type="text">
			{% endif %}
		</form>
		</body>
		<br>
		<br>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions in this assignment.</p>
{% endif %}
