{% extends "assignment_nav.html" %}
{% block content %}
{% load my_filters %}
{% load staticfiles %}

<!-- javascript -->
<script type="text/javascript" src="{% static "js/assignment_index.js" %}"></script>

<div id="assignment-zone">
	<div class="list-table"> 
	<table class="table assignment-table">  
    <thead>  
      		<tr>  
       		<th class="sortable">Title</th>
       		<th class="sortable">Atoms</th>
       		<th class="sortable">Author</th>
      		</tr>  
    </thead>
    <tbody>
   	{% for a in assignment_list %}
   		<tr class="assignment-row">
   			<td class="first-cell" id="{{a.id}}" value="{{a.title}}">{{ a.title }}</td>
			<td>{% for atom in a.get_atoms %}{{atom}}, {%endfor%}</td>
			<td>{{a.owners.all.0}}</td>
			<td><i onclick="previewL({{a.id}})" class="icon-eye-open"></i></a></td>
			<input type="hidden" id="{{a.id}}data" value="{{a.data}}"></div>
		</tr>
	{% endfor %}
   	</tbody>  
   	</table>  
	</div>
	<div class="row-fluid">
		<button class="btn btn-success load-assignment">Load</button>
		<button class="btn btn-warning" onclick="history.go(-1);return true;">Cancel</button>
	</div>
	<div class="assignment-area">
	</div>
</div>


<script>
    // tablesorter 2.10.8
    // Documentation found here:
    // http://mottie.github.io/tablesorter/docs/index.html
     
    // Bootstrap specific example here:
    // http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html
    $(function() {  
      	$.extend($.tablesorter.themes.bootstrap, {
            table      : 'table table-bordered',
            header     : 'bootstrap-header', // give the header a gradient background
            footerRow  : '',
            footerCells: '.footer',
            icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
            sortNone   : 'bootstrap-icon-unsorted',
            sortAsc    : 'icon-chevron-up',
            sortDesc   : 'icon-chevron-down',
            active     : '', // applied when column is sorted
            hover      : '', // use custom css here - bootstrap class may not override it
            filterRow  : '.filter', // filter row class
            even       : '', // odd row zebra striping
            odd        : ''  // even row zebra striping
      	});
          
        // call the tablesorter plugin and apply the uitheme widget
        $(".assignment-table").tablesorter({
            theme : "bootstrap",
                                     
            widthFixed: true,                                 
            headerTemplate : '{content} {icon}', 
            selectorHeaders: '> thead .sortable',        
            initWidgits:true,
            widgets : ["uitheme", "filter", "zebra" ],
            widgetOptions: {
          		
            }        
                                     
        })
    });
</script>
{% endblock %}