{% extends "assignment_nav.html" %}
{% block content %}
{% load my_filters %}

<!-- javascript -->
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/assignment_index.js"></script>

<div id="assignment-zone">
	<div class="list-table"> 
		<table class="table">  
      	<thead>  
        		<tr>  
           		<th>Title</th>
           		<th>Subject</th>
           		<th>Author</th>
        		</tr>  
      	</thead> 
      	<tbody>
   	{% for a in assignment_list %}
   		<tr class="assignment-row">
   			<td class="first-cell" id="{{a.id}}" value="{{a.title}}">{{ a.title }}</td>
				<td></td>
				<td>{{a.owners.first}}</td>
				<td><i onclick="previewL({{a.id}})" class="icon-eye-open"></i></a></td>
				<input type="hidden" id="{{a.id}}data" value="{{a.data}}"></div>
			</tr>
	   {% endfor %}
   	   </tbody>  
   	</table>  
	</div>
	<div class="row-fluid">
		<button class="btn btn-success load-assignment">Load</button>
		<button class="btn btn-warning cancel-assignment-load">Cancel</button>
	</div>
	<div class="assignment-area">
	</div>
</div>
{% endblock %}