{% extends "assignment_nav.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">
<script type="text/javascript" src="{{STATIC_PREFIX}}js/boxplot.js"></script>


<div class="row">
	<h1><div class="span3 offset3">Class Metrics</div></h1>
</div>
{% for stats in stat_set %}
	<div class="row-fluid">
		<div class="row-fluid"><h3>Class:{{stats.className}}
			<button 
				id="plot"
				type="btn" 
				onclick="display({{stats.data}},{{stats.classid}});" >Plot</h3>
		</div>
	</div>
	<div>Average: {{stats.average|floatformat:2}}%</div>
	<div>Standard Deviation: {{stats.deviation|floatformat:2}}%</div>
	<div>Minimum: {{stats.minimum|floatformat:2}}%</div>
	<div>Maximum: {{stats.maximum|floatformat:2}}%</div>
	<div>Median: {{stats.median|floatformat:2}}%</div>
	<div style="display:none">
		<img  id="dialog{{stats.classid}}" title="Class boxplot"></div>
	</div>



{%endfor%}
<script>
function display(data, classid){
	var name1="dialog", name2="#";
	name1=name1.concat(classid);
	name2=name2.concat(name1)
	//Creates min, max, lowerWhisker, upperWhisker, median, q1, q3, mildOutliers, extremeOutliers
	calculateValues(data);
	//Generate url to send to google
		var url = "https://chart.googleapis.com/chart?cht=bvs&chxt=y&chs=100x150&chd=";
		var chd="t0:"
		//Organize data in url
			//minWhisker
			chd=chd.concat('-1,',lowerWhisker,'|');
			//q1
			chd=chd.concat('-1,',q1,'|');
			//q3
			chd=chd.concat('-1,',q3,'|');
			//maxwhisker
			chd=chd.concat('-1,',upperWhisker,'|');
			//median
			chd=chd.concat('-1,',median)
			//outliers
			for(var x=0; x<mildOutliers.length; x++){
				chd=chd.concat('|-1,',mildOutliers[x]);
			}
			for(var x=0; x<extremeOutliers.length; x++){
				chd=chd.concat('|-1,',extremeOutliers[x]);
			}
		url=url.concat(chd,"&chm=");
		//Create markers
			var chm=''
			//candle
			chm=chm.concat("F,0000FF,0,1,40|");
			//min whisker
			chm=chm.concat("H,0000FF,0,1,1:20|");
			//max whisker
			chm=chm.concat("H,0000FF,3,1,1:20|");
			//median
			chm=chm.concat("H,0000FF,4,1,1:20");
			//outliers
			for(var x=0; x<mildOutliers.length+extremeOutliers.length; x++){
				chm=chm.concat("|o,FF0000,",5+x,",,7");
			}
		url=url.concat(chm);
	//Use google API to load boxplot
	console.log(url);
	$( name2 ).attr('src',url);
  	$( name2 ).dialog();
}
</script>
{% endblock %}
