{% extends "assignment_nav.html" %}
{% block content %}
{% load my_filters %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">

<div class="row">
	<h1><div class="span7">Students Enrolled in {{class}}</div></h1>
</div>
<table class="table">
	<thead>
		<th>Student Name</th>
		<th>Username</th>
		<th>Performance</th>
	</thead>
	<tbody>
	{% for s in class.students.all %}
		{% if s.is_active and not s.is_staff %}
		<tr>
			<td>{{s.first_name}} {{s.last_name}}</td>
			<td>{{s.username}}</td>
			<td>{{s|student_performance}}</td>
		</tr>
		{%endif%}
	{%endfor%}
	</tbody>
</table>
<a href='{% url "csv" class.id %}'>Export grade data as CSV</a>
{% endblock %}