{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    $('textarea').addClass('span6').wysihtml5();

    $('#preview_video').click(function() {
        var video_id = $('#id_video').val();
        var v_ids = video_id.split(" ");
        var video_preview_divs = "";
        for(var i = 0; i < v_ids.length; i++) {
            if ( /[A-Za-z0-9-_]{11}/.test(v_ids[i]) == true ) {
                video_preview_divs += '<div id="video_preview_div_' + v_ids[i] + '">Loading...</div><hr />';
            } else {
                video_preview_divs += '<div><p>' + v_ids[i] + ' is an invalid YouTube video id. It should be 11 characters long, and located in the url for your video. e.g. http://www.youtube.com/watch?v=VIDEO_ID</p></div><hr />';
            }
        }
        var params = { allowScriptAccess: "always" };
        var atts = { id: "modal_player", 'wmode': 'opaque' };
        $('body').append(
            '<div class="modal fade" id="preview_modal"><div class="modal-header">' +
            '<a class="close" data-dismiss="modal">x</a><h3>Video Preview</h3>' +
            '</div><div class="modal-body">' +
            video_preview_divs +
            '</div></div>'
        );
        for(var i = 0; i < v_ids.length; i++) {
            if ( /[A-Za-z0-9-_]{11}/.test(v_ids[i]) == true ) {
                swfobject.embedSWF("http://www.youtube.com/v/" + v_ids[i] + "?version=3&enablejsapi=1&playerapiid=player1", "video_preview_div_" + v_ids[i], "480", "295", "9", null, null, params, atts);
            }
        }
        $('#preview_modal').modal('show');
        $('#preview_modal').on('hidden', function () {
            $(this).remove();
        });
    });
});
</script>

<h2>Create New Submission</h2>

<form class="form-horizontal" action="{{ form_action }}" method="post">
{% csrf_token %}

{% include "form_template.html" with form=form %}

<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<a class="btn" id="preview_video">Preview Video</a>
</div>
</form>

{% endblock %}

