{% extends 'base.html' %}

{% block content %}
<h2>Search in the Site</h2>
<form method="get" action=".">
    <table>
        <tbody>
            {% for field in form %}
            {% if field.label_tag %}
            <tr>
                {{field}}
            <tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{# {% if query %} #}


    <div class="span9">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Lecture Notes</a></li>
                <li><a href="#tab2" data-toggle="tab">Example</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p>for Lecture Notes..</p>
                    
                    {% for result in page.object_list %}
                        {% include 'search/result_lecture_notes.html' %}
                    {% empty %}
                    <p>No Lecture Notes results found.</p>
                    {% endfor %}

                </div>
                <div class="tab-pane" id="tab2">
                    <p>for Examples..</p>

                </div>
            </div>
        </div>
    </div>
    
    {# {% endif %} #}
{% endblock %}
