{% extends "assignment_nav.html" %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}tinymce/js/tinymce/tinymce.min.js"></script>

<script src="{{ STATIC_PREFIX }}codemirror/lib/codemirror.js"></script>
<script src="{{ STATIC_PREFIX }}codemirror/mode/python/python.js"></script>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}codemirror//lib/codemirror.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}codemirror//lib/themes.css">

<script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>
<link rel="stylesheet" type="test/css" href="{{ STATIC_PREFIX }}css/test.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}font-awesome/css/font-awesome.min.css">

<!-- JQUERY UI -->
<link rel="stylesheet" href="{{ STATIC_PREFIX }}jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">


<div id="templateView">
<!-- template js/css -->
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/template.js"></script>

<body>
<h2>Fill in all text boxes below.</h2>
<form action="{% url 'genQ' %}" method="post" id="templateForm">
{% csrf_token %}
<div>
	<h3><div id="template_title" value="{{template.title}}"></div></h3>
	<div id="template_data" style="display:none" value="{{template.data}}"></div>
	<input id="tid" name="tid" type="hidden" value="{{template.id}}"></input>
</div>

{% autoescape off %}
	<b>Code:</b><br><div>{{data.code}}</div>
	<br><b>Text:</b><br><div>{{data.text}}</div><br>
{% endautoescape %}

</form>
<button id="template-btn" class="btn btn-primary" onclick="validateSubmit();">Template!</button>
</body>
</div>
</html>
{% endblock %}