<!-- 

To EXTEND/USE this file:

	REQUIRED context:
		breadcrumbs

	OPTIONAL context:
		None

BLOCKS:
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->
<!--
I have changed this file a bit, you should use this as the template you extend.  More documentation can be found in the docs under templates.  I have tried to minimize the changes I made in the assignment templates.
-->

{% extends "base.html" %}

{% block message %}
	{% include "message.html" %}
{% endblock %}

{% block page_title %}
	<div class="page-header">
		<h1>CPortal</h1>
	</div>
{% endblock %}

{% if user.is_authenticated %}

{% block navbar_content %}

{% if user.is_staff  or user.is_superuser %}
  <li class="nav-header">Excercises</li>
  <li><a href='{%url "assignment_list"%}'><i class="sidebar-dropdown-toggle icon-minus"></i>Assignments</a> 
  <ul class="nav nav-list">
  {%for t in user.owned_assignments.all%}
    <li><a href="{% url 'edit_assignment' t.id %}">{{t}}</a></li>
  {%endfor%}
  </ul>
  <!--<li><a href="{% url "add_question" %}">Add Question</a></li>-->
  <li><a href='{%url "question_list" %}'><i class="sidebar-dropdown-toggle icon-minus"></i>Questions</a>
  <ul class="nav nav-list">
  {%for q in user.owned_questions.all%}
    {% ifequal q.isCopy False %}
      <li><a href="{% url 'edit_question' q.id %}">{{q}}</a></li>
    {% endifequal %}
  {%endfor%}
  </ul>
  <!--<li><a href="{% url 'delete_question' %}">Delete Question</a></li>-->
  <li><a href="{% url "metrics" %}">Performance</a></li>
  <li class="divider"></li>
  {% for c in user.allowed_classes.all%}
    <li class="nav-header">{{c}}</li>
    <li><a href="{% url "assign" c.id%}">Assign</a></li>
    <li><a href="{% url "unassign" c.id%}">Unassign</a></li>
    <li><a href="{% url "select" c.id %}">Extend Due Date</a></li>
    <li><a href="{% url "view_student" c.id %}">View Students</a></li>
    <li class="divider"></li>
  {% endfor %}
  <!-- {% for c in user.classes_authored.all %}
    <li class="nav-header">{{c}}</li>
    <li><a href="{% url "assign" %}">Assign</a></li>
    <li><a href="{% url "unassign" %}">Unassign</a></li>
    <li><a href="{% url "select" %}">Extend Due Date</a></li>
    <li><a href="{% url "view_student" %}">View Students</a></li>
    <li class="divider"></li>
  {% endfor %} -->
{% endif %}

{% if user.is_active or user.is_superuser %}
  <li class="nav-header">Student Affairs</li>
  <li class="{% if grade_check == 1 %}active{%endif%}">
  <a href="{% url "grades" %}">View grades</a></li>
  <li><a href="{% url 'choose_practice_atom' %}">Practice</a></li>
  <li class="{% if assignment_selected %}open{%endif%}">
    <a href="{% url "list"%}"><i class="sidebar-dropdown-toggle icon-minus"></i>Assignments</a>
  <ul class="nav nav-list">
  {% for a in user.assignmentInstances.all %}
    {% if a.was_published %}
      <li class="{% if a.id == assignment_selected.id %}open{% endif %}">
      <a href="{% url "assignment_detail" a.id%}"><i class="sidebar-dropdown-toggle icon-minus"></i>{{a}}</a>
      <ul class="nav nav-list">
      {% for q in a.questions.all %}
        <li class="{% if q.id == question_selected.id %}active{% endif %}">
        <a href="{% url "question_instance" a.id q.id %}">{{ q }}</a></li>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  </ul>
  <li class="divider"></li>
{% endif %}

{% endblock %}	
{% endif %}