{% if user.is_staff or user.is_superuser %}
        <li class="nav-header">Administrative</li>
        <li><a href="{% url "assign" %}">Assign something</a></li>
        <li><a href="{% url "view_student" %}">View Students</a></li>
        <li>Class Performance</li>
        <li class="divider"></li>
{% endif %}

{% if user.is_staff %}
        <li class="nav-header">My Class</li>
        <li><a href="/admin/assignment/assignment/add">Add Assignment</a></li>
        <li style="blue"><i class="sidebar-dropdown-toggle icon-minus"></i>Edit Assignments</li>
        <ul class="nav nav-list">
        {%for t in user.templates.all%}
            <li><a href="/admin/assignment/assignment/{{t.id}}">{{t}}</a></li>
        {%endfor%}
        </ul>
        <li><a href="/admin/assignment/question/add">Add Question</a></li>
        <li class="divider"></li>
{% endif %}

{% if user.is_active %}
        <li class "nav-header">Student Affairs</li>
        <li class="{% if grade_check == 1 %}active{%endif%}">
            <a href="{% url "grades" %}">View grades</a></li>

        <li><i class="sidebar-dropdown-toggle icon-minus"></i>Assignments</li>
        <ul class="nav nav-list">
        {% for a in assignment_list %}
            <li class="{% if a.id == assignment_selected.id %}open{% endif %}">
            <a href="{% url "assignment_detail" a.id%}"><i class="sidebar-dropdown-toggle icon-minus"></i>{{a}}</a>
            <ul class="nav nav-list">
                {% for q in a.questions.all %}
                <li class="{% if q.id == question_selected.id %}active{% endif %}">
                    <a href="{% url "question_instance" a.id q.id %}">{{ q }}</a></li>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>

{% endif %}
