{% extends "web/home/home.html" %}

{% comment %}

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		top_ranked_videos
		selected_class
		selected_categories
		selected_atom
		messages
		form_action

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

{% endcomment %}

{% block content %}
{% load staticfiles %}
<script src="{% static "js/jquery.columnview.js" %}" type="text/javascript"></script>
<script type="text/javascript">
var cat_id; // Used to store the category id for later use if we are updating a category

$(document).ready(function() {
	// Generate category list
	$("ul#cat-list").columnview({
		preview: false,
		getSubtree: function(elt, isRoot) {
			if (isRoot)
			{
				var req_url = '/ajax/get-children/1/{{ pk }}/'
			}
			else
			{
				var req_url = '/ajax/get-children/0/'+elt.attr('id')+'/'
			}
			var res = $.ajax({
				type: 'GET', // GET or POST
				url: req_url,
			});
			return res;
		}
	});
	
	// Get new category form when the button is pressed
	$('#new-category-form').click(function() {
		$('div#cat-header').empty().append('Add Category');
		$('input#submit-category-form').attr('value', 'Add Category');
		$('form#category-form').attr('action', '');
		$('button#delete-category').addClass('hidden');
		$.ajax({
			type: 'GET',
			url: '/edit-class/{{ pk }}/'
		}).done(
			function(data) {
				$("div#category-form").empty().append(data.category_form)
			}
		);
		return false;
	});
	
	var ajax_submit = function(form) {
		// Returns the ajax promise
		// Disable buttons
		form.find('#submit-form').attr('disabled', true);
		form.find('#new-category-form').attr('disabled', true);
    form.find('#delete-category').attr('disabled', true);
		// Reset the error fields '*[id^="string"]' finds all elements with
		// id starting in "string".
		form.find('*[id^=field]').removeClass('error')
		form.find('*[id^=help-inline]').empty()
    console.log(form.serialize())
		var promise = $.ajax({
			async: false, // Set it to be synchronous
			data: form.serialize(), // Get the form data
			type: form.attr('method'), // GET or POST
			url: form.attr('action'), // Get the action (where to send data)
		}).done(
			function(response) {
				if (!response.pk) // If we created an object
				{
					// Loop through keys in response variable
					if (response.message)
					{
						$("#messages").empty().append('<div class="alert alert-error">'+response.message+'</div>');
						delete response.message;
					}
					for (var key in response)
					{
						form.find('#field-' + key).addClass('error')
						form.find('#help-inline-' + key).empty().append(
							$('<ul>') // Reset the div and add an empty list
						);
						// Loop through the error array for key
						for (i in response[key])
						{
							form.find('#help-inline-' + key + ' ul').append(
								$('<li>').append( // Add each item to the list
									response[key][i]
								)
							)
						}
					}
				}
			}
		).always(
			function() {
			// Enable the buttons again.
			form.find('input#submit-form').attr('disabled', false);
			form.find('input#new-category-form').attr('disabled', false);
      form.find('#delete-category').attr('disabled', false);
			}
		);
		return promise;
	};
	
	var success_function = function(data)
	{
		window.location = '/class/' + data.pk;
	};
	var class_success_function = function(data)
	{
		if (data.pk)
    {
      $("#messages").empty().append('<div class="alert alert-success">'+data.message+'</div>');
    }
	};
	var category_success_function = function(data)
	{
		if (data.message)
		{
			$("#messages").empty().append('<div class="alert alert-success">'+data.message+'</div>');
		}
		$('div#cat-header').empty().append('Add Category');
		$('form#category-form input#submit-form').attr('value', 'Add Category');
		$('form#category-form').attr('action', '');
		$('button#delete-category').addClass('hidden');
		$("div#category-form").empty().append(data.category_form);
		$('ul#cat-list').columnview('update');
	};
	
	
	//$('div.containerobj a').dblclick(function() {
	$('div.containerobj').on('dblclick', 'a', function() {
		if ($(this).attr('type') == 'atom')
		{
			return false;
		}
		else if ($(this).attr('type') == 'category')
		{
			cat_id = $(this).attr('id');	// Set global cat_id
	
			$('form#category-form').attr('action', '/edit-class/{{ pk }}/' + cat_id + '/')
			// Change action of form
			$.ajax({
				type: 'GET',
				url: '/edit-class/{{pk}}/' + cat_id + '/',
			}).done(
				function (data) {
					$('div#cat-header').empty().append('Edit Category');
					$('form#category-form input#submit-form').attr('value', 'Update Category');
					$("div#category-form").empty().append(data.category_form);
					$('button#delete-category').removeClass('hidden');
				}
			);
			return false;
		}
	})
	
	$('form#class-form #submit-form').click(function() {
		var form = $('form#class-form');
		var promise = ajax_submit(form);
		promise.done(class_success_function);
		return false;
	});
	$('form#category-form #submit-form').click(function() {
		var form = $('form#category-form');
		var promise = ajax_submit(form);
		promise.done(category_success_function);
		return false;
	});
	
	$('button#delete-category').click(function() {
		$('button#delete-category').attr('disabled', true);
		$.ajax({
			url: '/ajax/delete-category/' + cat_id + '/'
		}).always(function() {
			$('button#delete-category').attr('disabled', false);
		}).done(category_success_function);
		return false;
	});
});
</script>
<div class="container">
  <div id="messages"></div>
  <h2>Edit Class</h2>
  <form id="class-form" class="form-horizontal" 
      action="{{ form_action }}" method="POST">
    {% csrf_token %}
    <div id="class-form">
      {% include "web/class_form_template.html" with form=class_form %}
    </div>
    <input type="hidden" name="class-form" /> <!-- form identifier -->
    <input class="btn btn-primary" type="submit" name="submit-class" value="Update Class" id="submit-form" /> <!-- submit button -->
  </form>
  <form id="category-form" class="form-horizontal" 
      action="{{ form_action }}" method="POST">
    {% csrf_token %}
  	<div id="category-form">
  		{% include "web/category_form_template.html" with form=category_form %}
  	</div>
    <input type="hidden" name="category-form" /><!-- form identifier -->
    <input class="btn btn-primary" type="submit" name="submit-category" value="Add Category" id="submit-form" /> <!-- submit button -->
    <input class="btn" type="reset" value="New Category" 
      id="new-category-form" /> <!-- Clear button -->
    <button class="btn btn-danger hidden" name="delete-category" id="delete-category">Delete Category</button> <!-- delete button -->
  </form>
  <div id="category-list">
  	<ul id="cat-list"></ul>
  </div>
Double click on a category to edit it.
</div>
{% comment %}
	<!-- <div id="messages"></div>
  <h2>Edit Class</h2>
    <form id="edit-form" class="form-horizontal" action="{{ form_action }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="form-type" id="form-type" value="">
      <div id="class-form">
        {% include "web/class_form_template.html" with form=class_form %}
      </div>
      <input class="btn btn-primary hidden" type="submit" name="submit-class" value="Update Class" id="submit-class-form" />
      <h2><div id="cat-header">Add Category</div></h2>
      <div id="category-form">
        {% include "web/category_form_template.html" with form=category_form %}
      </div>
      <input class="btn btn-primary hidden" type="submit" name="submit-category" value="Add Category" id="submit-category-form" />
      <input class="btn" type="reset" value="New Category" id="new-category-form" />
      <input class="btn btn-danger hidden" name="delete-category" value="Delete Category" id="delete-category">
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submit-all" value="Submit All" id="submit-form" />
      </div>
    </form> 
		<div id="category-list">
			<ul id="cat-list">
			</ul>
		</div>
		Double click on a category to edit it. -->
		{% endcomment %}
{% endblock %}