{% extends "web/home/home.html" %}

{% comment %}

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		form

	OPTIONAL context:
		top_ranked_videos
		selected_class
		selected_categories
		selected_atom
		messages
		form_action

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

{% endcomment %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
	
	var ajax_submit = function(form, id_insert, success_redirect) {
		// Disable buttons
		$('#submit-'+id_insert+'-form').attr('disabled', true);
		$('#clear-'+id_insert+'-form').attr('disabled', true);
		// Reset the error fields '*[id^="string"]' finds all elements with
		// id starting in "string".
		$('*[id^='+id_insert+'field]').removeClass('error')
		$('*[id^='+id_insert+'help-inline]').empty()
		console.log(form.serialize())
		$.ajax({
			//async: false, // Set it to be synchronous
			data: form.serialize(), // Get the form data
			type: form.attr('method'), // GET or POST
			url: form.attr('action'), // Get the action (where to send data)
			success: function(response) {
				console.log(response);
				if (response.pk) // If we created an object
				{
					// Call the success_redirect function
					console.log('Form was valid!')
					success_redirect(response, form)
				}
				else // If there were errors
				{
					// Loop through keys in response variable
					console.log('Printing out errors')
					if (response.message)
					{
						$("#messages").empty().append('<div class="alert alert-error">'+response.message+'</div>');
						delete response.message
					}
					for (var key in response)
					{
						$('#'+id_insert+'field-' + key).addClass('error') // Make it red
						$('#'+id_insert+'help-inline-' + key).empty().append(
							$('<ul>') // Reset the div and add an empty list
						);
						// Loop through the error array for key
						for (i in response[key])
						{
							$('#'+id_insert+'help-inline-' + key + ' ul').append(
								$('<li>').append( // Add each item to the list
									response[key][i]
								)
							)
						}
					}
				}
			},
		});
		return false;
	};
	
	var success_function = function(response, form)
	{
		window.location = '/edit-class/' + response.pk;
	};
	$('#submit-class-form').click(function() {
		$('input[id=form-type]').val('submit-class');
		var form = $('#edit-form')
		console.log('submit class')
		ajax_submit(form, 'class', success_function)
		// Enable the buttons again.
		$('#submit-class-form').attr('disabled', false);
		$('#clear-class-form').attr('disabled', false);
		return false;
	});
});
</script>
	<div id="messages"></div>
	<h2>Create New Class</h2>
		<form id="edit-form" class="form-horizontal" action="{{ form_action }}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="form-type" id="form-type" value="">
			<div id="class-form">
				{% include "web/class_form_template.html" %}
			</div>
			<div class="form-actions">
				<input class="btn btn-primary" type="submit" name="submit-class" value="Create Class" id="submit-class-form" />
				<input class="btn" type="reset" value="Clear All" id="clear-class-form" />
			</div>
		</form>
		
{% endblock %}