{% extends "base.html" %}

{% block content %}

{% load my_filters %}
{% load vote_filters %}

<h2>{{ content_object.title }} Details
    {% if user.is_superuser or content_object.owner == user %}
    <a href="{% url 'submit_content' content_object.id %}"><button class="btn" id="edit-content" style="float:right;">Edit Content</button></a>
    {% endif %}
</h2>
<h4>Compiled by {{ content_object.owner }}</h4>
<br >
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
		<li><a href="#tab2" data-toggle="tab">YouTube Videos</a></li>
		<li><a href="#tab3" data-toggle="tab">Links</a></li>
    <li><a href="#tab4" data-toggle="tab">Files</a></li>
	</ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {% autoescape off %}
        {{ content_object.summary }}
      {% endautoescape %}
    </div>
    <div class="tab-pane" id="tab2">
      <div class="row-fluid" id="videos"> <!-- Div for videos -->
        <div class="span4" id="col1"></div> 
        <div class="span4" id="col2"></div>
        <div class="span4" id="col3"></div>
      </div> <!-- end .row-fluid #videos -->
    </div>
    <div class="tab-pane" id="tab3">
      <div id="links">
      <ul>
        {% for l in content_object.links.all %}
          <li>
            <a href="{{ l.link }}" target="_blank">{{ l.title }}</a>
          </li>
        {% endfor %}
      </ul>
     </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div id="files">
        <ul>
          {% for f in content_object.files.all %}
            <li>
              <a href="{{ f.file.url }}" target="_blank">{{ f.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="disqus_thread"></div>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<script type="text/javascript">
    
    
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'cportalnt'; // required: replace example with your forum shortname
    var disqus_url = 'cportal-nt.eecs.umich.edu/content/{{ content_object.pk }}';
    var disqus_identifier = 'content-details-{{ content_object.pk }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
  /**
   * Sort the videos evenly into three columns so they display nicely.
   */
  {# /*Set up cycling for inserting videos evenly into multiple columns*/ #}
  {% cycle 'col1' 'col2' 'col3' as column silent %}
  {% for v in content_object.videos.all %}
  $('#videos div#{{ column }}').append( {# /* Append new row to column */ #}
    $('<div>').addClass('row-fluid').attr('id', '{{ v.id }}').append(
      $('<a>').attr('href', '#').{# /** Append a href and add attrs */ #}
      attr('data-sid', '{{ v.id }}').attr('data-vid', '{{ v.video_id }}').
      append('{{ v.title }}<br >').append({#/* Append thumbnail of video */#}
        $('<img />').addClass('view-video').attr({
          style:'margin-bottom: 5px;',
          src:'https://img.youtube.com/vi/{{ v.video_id }}/default.jpg',
          width:'200',
          alt:'Video Thumbnail'
        })
      )
    )
  );
  {% cycle column %}
  {% endfor %}
  
  {% comment %}
  /**
   * When the link image is clicked open up $('div#global_modal') defined in 
   * ``knoatom/base.html``.  It deletes the contents of the body, then embeds
   * the youtube player into the body, centers the modal, and shows it.  Then 
   * when it is hidden it deletes the contents of the body again.
   */
  {% endcomment %}
  $('.view-video').each(function() {
    $(this).click(function(e) {
      e.preventDefault();
      var sid = $(this).parent().attr('data-sid');
      var vid = $(this).parent().attr('data-vid');
      var params = { allowScriptAccess: 'always' };
      var atts = { id: "modal_player", 'wmode': 'opaque' };
      $('#video_player_' + sid).remove();
      video_preview_div = '<div id="video_preview_div_' + sid + '">Loading...</div><hr />';
      $('#global_modal .modal-body').empty().append(video_preview_div);
      swfobject.embedSWF("http://www.youtube.com/v/" + vid +
        "?version=3&enablejsapi=1&playerapiid=player1", "video_preview_div_" 
        + sid, "560", "315", "9", null, null, params, atts
      );
      $('#global_modal').modal().css({
        'margin-top': function () {
          return -($(this).height() / 2);
        },
        width:'auto',
        'margin-left':function(){
          return -($(this).width()/2);
        }
      });
      $('#global_modal').modal('show');
      $('#global_modal').on('hidden', function () {
        $('#global_modal .modal-body').empty();
      });
    });
  });
});
</script>
{% endblock javascript %}