<!--

To EXTEND/USE this file:

	REQUIRED context:
		top_level_categories
		breadcrumbs
		selected_class
		selected_categories

	OPTIONAL context:
		atom_list_1
		atom_list_2
		atom_list_3
		messages
		selected_atom
		forum
		content
		vote_categories

		expositions
    examples
		notes

BLOCKS(Including inherited blocks):
  extra_style
  extra_head
  extra_script
	head
	breadcrumb
	sidebar
	navbar_content
	message
	content
	footer
	page_title
	title

-->

<!--
Only things that are unique to class should go in here, anything shared with base should go in "shared/category.html"
-->
{% extends "web/home/home.html" %}
{% block content %}

	{% include "web/home/shared/category.html" %}
	
{% endblock %}
