{% extends "base.html" %}

{% block content %}
<h2>Forgot Password</h2>
<p>Use this form to reset your password. If your email is on file, we will email you a new password.</p>

<form class="form-horizontal" action="{% url forgot_password %}" method="post">
{% csrf_token %}

{% include "form_template.html" with form=login_form %}

<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
</div>
</form>

{% endblock %}

