{% extends "base.html" %}

{% block content %}

{% if not content %}
<div class="page-header">
<h1>Welcome, {{ user }}</h1>
</div>

<p>Use the forms below to change your account information as needed.</p>

<div class="tabbable">
<ul class="nav nav-tabs">

<li class="active"><a href="#1" data-toggle="tab">Password</a></li>
<li class=""><a href="#2" data-toggle="tab">Display Name</a></li>
<li class=""><a href="#3" data-toggle="tab">Advanced</a></li>

</ul> <!-- .nav nav-tabs -->
<div class="tab-content">

<div class="tab-pane active" id="1">
<h3>Change Password</h3>
<form class="form-horizontal" action="{% url account %}" method="post">
{% csrf_token %}
{% include "form_template.html" with form=password_form %}
<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
</div>
</form>
</div> <!-- #1 -->

<div class="tab-pane" id="2">
<h3>Change Display Name</h3>
<form class="form-horizontal" action="{% url account %}" method="post">
{% csrf_token %}
{% include "form_template.html" with form=username_form %}
<div class="form-actions">
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn" type="reset" value="Clear" />
</div>
</form>
</div> <!-- #2 -->

<div class="tab-pane" id="3">
<h3>Advanced</h3>
<p>Here, you shall find advanced things to do for your account. Proceed with caution.</p>
<h4>Delete Account</h4>
<div class="well">
<p>Take actions to delete your account: <a class="btn btn-danger" data-toggle="modal" href="#delete_account_modal">Delete Account</a></p>
</div>

<!-- modal for the form -->
<div class="modal fade hide" id="delete_account_modal" style="height:initial;">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
<h3>Confirm Account Deletion</h3>
</div>
<div class="modal-body">
<p>We don't want to see you go! But, if you insist, type in "KnoAtom" into the box below, and we'll delete your account.</p>
<form class="form-horizontal" action="{% url account %}" method="post">
{% csrf_token %}
{% include "form_template.html" with form=delete_account_form %}
</div> <!-- .modal-body -->
<div class="modal-footer">
<a href="#" class="btn" data-dismiss="modal">Cancel</a>
<input class="btn btn-danger" type="submit" value="Delete Account" />
</div> <!-- .modal-footer -->
</form>
</div> <!-- .modal -->
<!-- !modal -->
</div> <!-- #3 -->

</div> <!-- .tab-content -->
</div> <!-- .tabbable .tabs-left -->

{% endif %}

{% include "home/content.html" %}

{% endblock %}
